{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Squadrons
{% endblock %}

{% block content %}
    <section id="root">
        <h1 class="title green">Manage Squadrons</h1>
        <form method="post" action="{{ path_for('manage-squadron') }}" @submit.prevent="onSubmit">
            <input type="hidden" name="{{ nameKey }}" value="{{ name }}" v-model="csrf_name">
            <input type="hidden" name="{{ valueKey }}" value="{{ value }}" v-model="csrf_value">
            <input name="name" value="" placeholder="Team Name" title="Team Name" v-model="name">
            <input type="submit" value="Create Team">
        </form>
        <span v-text="errors.get('name')" class="red"></span>
        {% for squadron in squadrons %}
            <p><a href="{{ path_for('manage-drones', { 'id': squadron.id }) }}">{{ squadron.name }}</a></p>
        {% endfor %}
        <p>
            <a href="{{ path_for('menu') }}">Back</a>
        </p>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        class Errors {

            constructor() {
                this.errors = {};
            }

            get(field) {
                console.log(this.errors[field]);
                if (this.errors[field]) {
                    return this.errors[field]
                }
                return '';
            }

            record(errors) {
                for(let i = 0; i < errors.length; i++) {
                    this.errors[errors[i].field] = errors[i].message;
                }
            }
        }

        new Vue({
            el: '#root',

            data: {
                csrf_name: '',
                csrf_value: '',
                name: '',
                errors: new Errors()
            },

            methods: {
                onSubmit() {
                    axios.post('/api/v1/squadrons', {
                        csrf_name: this.csrf_name,
                        csrf_value: this.csrf_value,
                        name: this.name
                    })
                        .then(response => alert(response.data.data))
                        .catch(error => {
                            this.errors.record(error.response.data.errors);
                        })
                }
            }
        });
    </script>
{% endblock %}