{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Squadrons
{% endblock %}

{% block content %}
    <h1 class="title green">Manage Squadrons</h1>
    <form method="post" action="{{ path_for('manage-squadron') }}">
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <input name="name" value="" placeholder="Team Name" title="Team Name">
        <input type="submit" value="Create Team">
    </form>
    {% for squadron in squadrons %}
        <p><a href="{{ path_for('manage-drones', { 'id': squadron.id }) }}">{{ squadron.name }}</a></p>
    {% endfor %}
    <p>
        <a href="{{ path_for('menu') }}">Back</a>
    </p>
{% endblock %}