{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Drones
{% endblock %}

{% block content %}
    <section id="root"><h1 class="title green">Squadron name: {{ drones[0].squadron.name }}</h1>
    <p class="small-title green">Cash: {{ drones[0].squadron.cash }}</p>
    <p class="red">{{ message }}</p>
        <drone-list :drones="drones"></drone-list>
    <p>
        <a href="{{ path_for('manage-squadron') }}">Back</a>
    </p></section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="/app/errors.js"></script>
    <script src="/app/form.js"></script>
    <script src="/app/drone/drone-list.js"></script>
    <script src="/app/drone/update-drone-item.js"></script>
    <script src="/app/drone/create-drone.js"></script>
{% endblock %}