{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Drones
{% endblock %}

{% block content %}
    <section id="root">
        <h2 class="title" v-text="squadron.name"></h2>
        <p class="small-title">Cash: <span v-text="squadron.cash"></span></p>
        <transition name="fade" v-on:enter="enter">
            <template v-show="form.messages.length > 0">
                <p v-for="message in form.messages" v-text="message"></p>
            </template>
        </transition>
        <p class="red">{{ message }}</p>
        <form method="post" action="{{ path_for('manage-drones', {'id': squadron_id}) }}"
              @submit.prevent="onSubmit"
              @keydown="form.errors.clear($event.target.name)">
            <drone-list :drones="squadron.drones" :form="form"></drone-list>
            <p><input class="button" type="submit" value="Upgrade Drones"></p>
        </form>
        <p>
            <a href="{{ path_for('manage-squadron') }}">Back</a>
        </p>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var squadronID = {{ squadron_id }};
    </script>
    <script src="/app/errors.js"></script>
    <script src="/app/form.js"></script>
    <script src="/app/drone/drone-list.js"></script>
    <script src="/app/drone/update-drone-item.js"></script>
    <script src="/app/drone/create-drone.js"></script>
{% endblock %}