{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Manage Drones
{% endblock %}

{% block content %}
    <h1 class="title green">Squadron name: {{ drones[0].squadron.name }}</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Thruster Power</th>
            <th>Turning Speed</th>
        </tr>
        {% for drone in drones %}
            <tr>
                <td>{{ drone.name }}</td>
                <td>{{ drone.thrusterPower }}</td>
                <td>{{ drone.turningSpeed }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{{ path_for('manage-squadron') }}">Back</a>
    </p>
{% endblock %}